[package]
name = "gardum"
version = "0.1.0"
edition = "2021"
license = "AGPL-3.0-or-later"
rust-version = "1.58"

[dependencies]
bevy = { version = "0.6", default-features = false, features = ["render", "x11"] }
bevy_atmosphere = { version = "0.2", optional = true }
bevy_egui = { version = "0.11", default-features = false, features = ["multi_threaded"], optional = true }
bevy-inspector-egui = { version = "0.8", default-features = false, optional = true }
bevy-hikari = { version = "0.1", optional = true }
heron = { version = "2.1", features = ["3d"] }
leafwing-input-manager = "0.2"
clap = { version = "3.1", features = ["derive"] }
derive_more  = { version = "0.99", default-features = false, features = ["deref", "deref_mut", "from", "add_assign"] }
strum = { version = "0.24", features = ["derive"] }
itertools = "0.10"

[dev-dependencies]
approx = "0.5"

[features]
default = ["client"]
client = ["bevy/png", "bevy_atmosphere", "bevy_egui"]
inspector = ["client", "bevy-inspector-egui"]
gi = ["client", "bevy-hikari"]
