[package]
name = "gardum"
version = "0.1.0"
edition = "2021"

[dependencies]
bevy = { version = "0.5", default-features = false, features = ["bevy_wgpu"] }
bevy_egui = "0.7.1"
bevy_atmosphere = "0.1.3"
heron = { version = "0.12.1", features = ["3d"] }
clap = "3.0.0-beta.2"
derive_more  = { version = "0.99.16", features = ["deref", "deref_mut"] }
strum = { version = "0.23", features = ["derive"] }

[dev-dependencies]
approx = "0.5.0"
test-case = "1.2.1"
gardum = { path = ".", features = ["headless"] }

[features]
headless = []
